:root {
	/* base */
	--font-family: 'Muller', sans-serif;
	--content-width: 1170px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	/* line-height */
	--lh-primary: 100%;

	/* fonts */
	--font-primary: 16px;

	/* colors */
	--light-color: #fff;
}
